<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HomePage Index</title>
</head>
<body>
    <h1> Delicious Desserts</h1>
    <div class="dessertsList">
        <% for (let i=0; i<desserts.length; i++) { %>
            <div class="onecard">
             <a href="/desserts/<%=i%>"> <%= desserts[i].name %></a>
          
             <img src ='<%= desserts[i].image %>' style="width: 100px;">
            </div>
            <% } %>
    </div>
</body>
</html>